body{
    padding: 0em;
    margin: 0em;
}
.topbox{
    display: flex;
    justify-content: end;
    margin: 0em 5em 0em 0em;
}
.topbox > div{
    margin: 0.5em 1.3em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.topbox > div > div{
    cursor: pointer;
    padding: 0.1em;
}
.topbox > div > img{
    cursor: pointer;
}
.content{
    font-size: 1.6em;
    color: rgb(234, 136, 0);
}
#contact{
    color: white;
}
/* .content:nth-of-type(5) {
    color: black;
} */
.topbox > div::after{
    content: '';
    width: 0em;
    height: 0.2em;
    background: rgb(234, 136, 0);
    position: relative;
    left: 0;
    transition: 0.5s;
}
.topbox > div:nth-child(5)::after{
    content: '';
    width: 0em;
    height: 0.2em;
    background: rgb(234, 136, 0);
    position: relative;
    left: 0;
    transition: 0.5s;
}
.topbox > div:hover::after{
    width: 95%;
}
.topbox > div:nth-child(5):hover::after {
    width: 95%;
    background: white;
}

.line{
    width: 100px;
    height: 120%;
    background: orange;
    rotate: 25deg;
    position: fixed;
    top: -4em;
    right: 15em;
    z-index: -1;
}